


  
.texto {

    text-align: center;
}

h1{

    color: black;
}

body{
  text-align: center;

    background-color: yellow;
}

.container{

text-align: center;

}

script{

  text-align: center;

}

figure{

  text-align: center;


}